<div class="container mt-3">
<div class="row">
  <div class="col-md-8">
    <h2>Daftar Contact</h2>
    <% if (msg.length !== 0) { %>
     <div class="alert alert-success" role="alert"><%= msg %> </div>
    <% } %>
    <a href="/contact/add" class="btn btn-primary mb-2">Tambah Contact</a>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">No</th>
          <th scope="col">Nama</th>
          <th scope="col">No.HP</th>
          <th scope="col">Aksi</th>
        </tr>
      </thead>
      <tbody>
        <% if (contacts.length === 0) { %>
        <tr>
          <td colspan="4">
            <div class="alert alert-danger fw-bold" role="alert">
              Daftar kontak kosong, harap isi terlebih dahulu
            </div>
          </td>
        </tr> 
        <% } %>
       <% contacts.forEach((contact, i) => {i++ %>
        <tr class="row-1">
            <th scope="row-1"><%= i++ %> </th>
            <td><%= contact.nama %> </td>
            <td><%= contact.nohp %> </td>
            <td><a href="/contact/<%= contact.nama %> " class="btn btn-success badge rounded-pill"><i class="bi bi-info-circle"></i> detail</a></td>
        </tr>
       <% }) %>
      </tbody>
    </table>
  </div>
</div>
</div>
